/* 
main css style weather app
by john nutter
*/

body {
	background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/nUDiO7H/sunset-timelapse-4k-sunrise-time-lapse-beautiful-weather-background-landscape_4kwlzpzi__F0000.png');
	color: #fff;
}
li {
	list-style-type: none;
}